numpy==1.13.3
scipy==0.19.1
scikit-image==0.13.0
dlib==19.4.0
flask==1.0
Flask-Cors==3.0.9
imutils==0.4.3
pillow==8.2.0
pytesseract==0.1.7
fuzzywuzzy==0.15.1
python-levenshtein==0.12.1
colorlog==3.0.1
Sphinx==3.0.4
sphinx-rtd-theme==0.2.4
